.row.footer
  .col-sm-2.first
    %a.top
      %p Our Curriculum
    %a
      %p IIN Learning Center
    %a
      %p Visiting Teachers
    %a
      %p Business Training
  .col-sm-2
    %a.top
      %p Health Coaching
    %a
      %p What is a Health Coach
    %a
      %p Grad Success
    %a
      %p A Passionate Career
  .col-sm-2
    %a.top
      %p Info Sessions
    %a
      %p Meet the Founder
    %a
      %p Student Experience
    %a
      %p Is Health Coaching Right For You
    %a
      %p Why My Healthy Isn’t Your Healthy      
  .col-sm-2
    %a.top
      %p About Us
    %a
      %p Health Revolution
    %a
      %p Core Values
    %a
      %p Board of Advisors
  .col-sm-2
    %a.top
      %p Connect With Us
    %ul
      %li
        %a
          %i.fi-social-facebook.large
            %span Facebook
      %li
        %a
          %i.fi-social-youtube.large
            %span Twitter
      %li
        %a
          %i.fi-social-google-plus.large
            %span Google+
      %li
        %a
          %i.fi-social-twitter.large
            %span Twitter
      %li
        %a
          %i.fi-social-linkedin.large
            %span LinkedIn
      %li
        %a
          %i.fi-social-amazon.large
            %span Amazon Store
.row.footer_bottom
  %p &copy 2015 CTC | Terms of Use & Privacy Policy | Regulatory Information | Affiliates | Jobs | Reviews Blog