.tube_layout#cat_tubes
  .tube_container
    %span.glyphicon.glyphicon-remove#close_cat_tubes
    %br
    <iframe width="640" height="480" src="//www.youtube-nocookie.com/embed/pld_Nkfoa40?rel=0" frameborder="0" allowfullscreen></iframe> 
.modal.fade{id:"myModal"}
  .modal-dialog
    .modal-content
      .modal-body
        %button.close{ :type=>"button", "data-dismiss"=>"modal", "aria-label"=>"Close"}
          %span.glyphicon.glyphicon-remove
          %span{ "aria-hidden"=>"true"}
        <iframe width="320" height="240" src="//www.youtube-nocookie.com/embed/pld_Nkfoa40?rel=0" frameborder="0" allowfullscreen></iframe> 
%section.aboutus_top
  %br
  %br
  %br
  %br
  .row.subheader_container
    %ul.nav.navbar-nav.navbar-right.subheader
      %li.active
        = link_to "#" do
          Our Curriculum
          %span.sr-only
      %li
        = link_to "Info Sessions", "#"
      %li
        =link_to "Health Coaching", "#"
      %li
        =link_to "About Us", "aboutus"
  .row.welcome
    .col-sm-7.col-sm-offset-3
      %h2 About Us
      %br
      %br
.row.about_us_second
  .container
    .row
      .col-sm-7.col-sm-offset-3
        %h2 Our mission is to play a crucial role in improving health and happiness, and through that process, create a ripple effect that transforms the world.
%section.aboutus_third#background_cat
  %br
  %br
  %br
  %br
  .row.welcome
    .col-sm-7.col-sm-offset-3
      %h4 Welcome to the Future of Nutrition
      %h3 The Institute for Integrative Nutrition (IIN) was founded in 1992 by Joshua Rosenthal. Once a small classroom of passionate students in New York City, it is now the largest nutrition school in the world. Through its innovative online learning platform, Integrative Nutrition has provided a global learning experience for over 50,000 students and graduates in 122 countries worldwide.
      %h4 Learn about our health revolution
      = link_to  "#",{"data-toggle"=>"modal", "data-target"=>"#myModal"} do
        %span.glyphicon.glyphicon-play-circle
      %br
      %br
.row.history
  %ul
    %li.history-1992-large.up.first  
      .box  
        .history
          .content
            %p Kitty PHD begins teaching nutrition in a rented kitchen with 20 students
          .title.year1992
            %h4 1992
        .dot
          %span.glyphicon.glyphicon-bookmark
      %span.glyphicon.glyphicon-star
    %li.history-2006-large.down
      %span.glyphicon.glyphicon-star
      .box
        .dot
          %span.glyphicon.glyphicon-bookmark
        .history
          .title.year2006
            %h4 2006
          .content
            %p Integrative Nutrition leads initiatives to help ban trans fat in New York City restaurants
    %li.history-2012-large.up
      .box      
        .history
          .content
            %p The National College Credit Recommendation Service recommends us for 40 college credits
          .title.year2012
            %h4 2012
        .dot
          %span.glyphicon.glyphicon-bookmark
      %span.glyphicon.glyphicon-star
    %li.history-2013-large.down
      %span.glyphicon.glyphicon-star
      .box
        .dot
          %span.glyphicon.glyphicon-bookmark
        .history
          .title.year2013
            %h4 2013
          .content
            %p Integrative Nutrition marches in support of GMO labeling legislation
    %li.history-2014-large.up
      .box    
        .history
          .content
            %p Integrative Nutrition launches the IIN Learning Center and expands to 50,000 students and graduates
          .title.year2014
            %h4 2014
        .dot
          %span.glyphicon.glyphicon-bookmark
      %span.glyphicon.glyphicon-star
.our_core_values
  %br
  %br
  %br     
  .row.our_core_values_form
    .col-sm-7.col-sm-offset-3
      %br
      %br  
      %h3 Our Core Values
      %h4 Be a source of positive change.
      %h4 Do what you love and love what you do.
      %h4 Set an example of self-development and growth.
      %h4 Live each day with the freedom to choose what’s right for you.
      %h4 Support each other in the global shift to better health.
      %h4 Embrace learning and new ways to do things.
      %h4 Create balance in all areas of life.
      %h4 Simplify everything.
      %br
      %br
.row.donation
  .row
    .col-sm-7.col-sm-offset-3
      %h2 Charitable Giving
      %h4 We are committed to supporting organizations that are working to make the world a healthier, happier place. Our partners promote nutrition education, fight childhood obesity, protect the environment, and much more.
      %br
      %br
      %h4 A FEW OF THE ORGANIZATIONS WE DONATE TO:
  %ul
    %li
      %img(src="https://s3.amazonaws.com/iin_marketing/d7/logos/charity_wellness.jpg")
    %li
      %img(src="https://s3.amazonaws.com/iin_marketing/d7/logos/charity_hfh.jpg")
    %li
      %img(src="https://s3.amazonaws.com/iin_marketing/d7/logos/charity_mercy.jpg")
    %li
      %img(src="https://s3.amazonaws.com/iin_marketing/d7/logos/charity_cityharvest.jpg")
    %li
      %img(src="https://s3.amazonaws.com/iin_marketing/d7/logos/charity_getfit.jpg")
.row.advisors
  %h2 Our Board of Advisors
  %h4 Our Board of Advisors help shape the strategy, vision, and long-term direction of the Health Coach Training Program.These physicians, researchers, and leading nutrition authorities ensure that Integrative Nutrition offers the most cutting-edge nutrition education possible.
  .row
    .col-sm-2.pro-pic.col-sm-offset-2
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/willet_roll.jpg?itok=BQbGK59b") no-repeat center' }
      .person-data
        %h4 Walter Willet, MD
        %h5 Chairman of Nutrition at the Harvard School of Public Health
    .col-sm-2.pro-pic
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/furman_roll.jpg?itok=2OT0N-E5") no-repeat center' }
      .person-data
        %h4 Joel Fuhrman, MD
        %h5 Physician and author of Eat for Health: Lose Weight, Keep it Off
    .col-sm-2.pro-pic
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/goldstein_roll.jpg?itok=qcWunm0Z") no-repeat center' }  
      .person-data
        %h4 Lynn Goldstein, MS, RD, CDN
        %h5 Registered dietitian at the Beth Israel Comprehensive Cancer Center
    .col-sm-2.pro-pic
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/seigal_roll.jpg?itok=7SqLcmMR") no-repeat center' }    
      .person-data
        %h4 Bernie Siegel, MD
        %h5 Bestselling author and expert in healing and patient empowerment
  .row
    .col-sm-2.pro-pic.col-sm-offset-2
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/wolfe_roll.jpg?itok=k3zW9256.jpg?itok=BQbGK59b") no-repeat center' }
      .person-data
        %h4 David Wolfe
        %h5 Authority on superfoods and raw foods nutrition
    .col-sm-2.pro-pic
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/pitchford_roll.jpg?itok=XRh74bGX") no-repeat center' }
      .person-data
        %h4 Paul Pitchford, MS
        %h5 Author of Healing with Whole Foods
    .col-sm-2.pro-pic
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/sears_roll.jpg?itok=tN_1QVqJ") no-repeat center' }
      .person-data
        %h4 Barry Sears, Ph.D.
        %h5 Founder of The Zone Diet
    .col-sm-2.pro-pic
      .pro{:style =>'background: url("http://amznstatic01.integrativenutrition.com/styles/cropped_blog/s3/katz_roll.jpg?itok=WUhV1maV") no-repeat center' }
      .person-data
        %h4 David Katz, MD
        %h5 Director, Yale Prevention Research Center and Guest Speaker    



