.blackbgwhitecolor
  input, textarea
    background-color: black
    color: white
.paddingleft25
  padding-left: 25px
.margin_25
  margin-right: -25px
.background_cat
  background: url("cat_training_top.jpg") no-repeat
  margin-top: -20px
  background-size: 100%
  height: 560px
.subheader_container
  height: 90px
.height100
  height: 100px
.subheader_in_navbar
  display: none
.subheader
  margin-right: 25px
  a
    color: black
.sign_up_form
  text-align: center 
  span.glyphicon.glyphicon-play-circle
    font-size: 3.0em
.tube_layout
  z-index: 1000
  height: 100%
  text-align: center
  position: fixed
  margin: -60px 0 0 -331px
  left: 50%
  display: none
  .tube_container
    background: white
    position: relative
    height: 520px
    text-align: center
    width: 700px
    margin: 50px
    span
      float: right
      cursor: pointer

